#ignore data files like csv and parquet
*.csv
*.parquet

#ignore this file path since git doesn't have permission to it
/ny_taxi_postgres_data
/Module 1 homework/ny_gtaxi_postgres_data
/ny_gtaxi_postgres_data
